:root{
    cursor: url(assets/RWHand.cur), auto;
}

@font-face{
    font-family: hypercam;
    src: url(assets/FSEX300.ttf) format(truetype);
}
body{
    align-items: center;
    font-family: "Maple Mono";
    cursor:crosshair;
    background-image: url(https://gifcity.carrd.co/assets/images/gallery68/5cba38ca.gif?v=49efbe4c)
    
}

#kill{
    
    float: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 2s cubic-bezier(.02,.68,.5,1);
    width: 100px;
    height: 100px;
    border-radius: 20%;
    font-family: "Maple Mono";
    cursor: crosshair;
    position: relative;
    left: 1755px;
    top: 800px;
}

#kill:hover{
    background-color: red;
    cursor: grab;
    transform: rotateY(360deg)
}

#kill:active{
    background-color: green;
    transform: rotate(360deg);
    cursor: grabbing;
}

#fake{
    background-color: red;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    letter-spacing: 5px;
    transition: all 0.5s cubic-bezier(.02,.68,.5,1);
    font-family: "Maple Mono";
    cursor: crosshair;
    box-shadow: 0px 10px 0px black;
    position: relative;
    left:-100px;
    top:-10px;
}

#fake:hover{
    cursor: grab;
}

#fake:active{
    cursor: grabbing;
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
    
}

#hi{
    font-size: xx-large;
    position: relative;
    left: 600px;
    top: -100px;
    width: fit-content;
}

#port{
    font-family: "Maple Mono";
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    color: white;
    background: rgb(25, 25, 255);
    transition: all 1.5s cubic-bezier(.02,.68,.5,1);
    border-radius: 55%;
    box-shadow: 0px 10px 0px black;
    position:relative;
    left: 1600px;
    top: 1%;
}
#port:hover{
    cursor: grab;
}

#port:active{
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
    cursor: grabbing;
}

#headr{
    font-size: xxx-large;
    margin-left:50%;
    transform:translateX(-50%);
    display: flex;
    justify-content: center;
    justify-items: center;
}

#back{
    box-shadow: 0px 10px 0px black;
    transition: all 1.0s cubic-bezier(.02,.68,.5,1);
    position: relative;
    left: 1650px;
    top: -125px;
    bottom: 100px;
}

#back:active{
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}

#div2{
    position: relative;
    width: fit-content;
    left: 680px;
    top: -100px;
}

#gio{
    position: relative;
    left: 1310px;
    top: -240px;
    opacity: 0.8;
}

#pixel{
    position:relative;
    left: 750px;
    top: -120px;
    bottom: 1000px;
}

#emi{
    position: relative;
    top: -20px;
    left: 25%;
}

#div3{
    font-family: hypercam;
    font-size: xx-large;
    top: -150px;
    position: relative;
    width: fit-content;
}

#fssh{
      position: relative;
        left: 700px;
        top: 680px;
        width: fit-content;

}

#spam{
    position: relative;
}

#cat{
    position: relative;
    left: -190px;
}