:root{
    cursor: url(assets/RWHand.cur), auto;
}

@font-face{
    font-family: hypercam;
    src: url(assets/FSEX300.ttf) format(truetype);
}
body{
    align-items: center;
    font-family: "Maple Mono";
    cursor:crosshair;
    background-image: url(assets/materialdictionary178_58.jpg);
    background-size:cover;
    
}

#kill{
    
    float: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 2s cubic-bezier(.02,.68,.5,1);
    width: 100px;
    height: 100px;
    border-radius: 20%;
    font-family: "Maple Mono";
    cursor: crosshair;
    position: relative;
    left: 0vh;
    bottom: 0vw;
}

#kill:hover{
    background-color: red;
    cursor: grab;
    transform: rotateY(360deg)
}

#kill:active{
    background-color: green;
    transform: rotate(360deg);
    cursor: grabbing;
}

#fake{
    background-color: red;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    letter-spacing: 5px;
    transition: all 0.5s cubic-bezier(.02,.68,.5,1);
    font-family: "Maple Mono";
    cursor: crosshair;
    box-shadow: 0px 10px 0px black;
    position: relative;
    left:0vw;
    bottom:0vh;
}

#fake:hover{
    cursor: grab;
}

#fake:active{
    cursor: grabbing;
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
    
}

#hi{
    font-size: xx-large;
    position: relative;
    left: 25vw;
    bottom: 10vh;
    width: fit-content;
}

#port{
    font-family: "Maple Mono";
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    color: white;
    background: rgb(25, 25, 255);
    transition: all 1.5s cubic-bezier(.02,.68,.5,1);
    border-radius: 55%;
    box-shadow: 0px 10px 0px black;
    position:fixed;
    right: 0;
    top: 0;
    margin: 10px;
}
#port:hover{
    cursor: grab;
}

#port:active{
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
    cursor: grabbing;
}

#headr{
    font-size: xxx-large;
    position: relative;
    top: 1vh;
    left: 10vw;
    justify-content: center;
    justify-items: center;
}

#back{
    box-shadow: 0px 10px 0px black;
    transition: all 1.0s cubic-bezier(.02,.68,.5,1);
    position: relative;
    left: 82vw;
    bottom: -19vh;
}

#back:active{
    transform: translateY(10px);
    box-shadow: 0px 0px 0px black;
}

#div2{
    position: relative;
    width: fit-content;
    left: 30vw;
    bottom: 10vh;
}

#gio{
    position: fixed;
    right: 0vw;
    top: 0vh;
    opacity: 0.5;
    margin-right: 0.5vw;
    margin-top: 15vh;
}

#pixel{
    position:relative;
    left: 9vw;
    top: 18vh;
}

#emi{
    position: relative;
    bottom: -2vh;
    left: 10vw;
}

#div3{
    font-family: hypercam;
    font-size: xx-large;
    top: 150vh;
    position: relative;
    width: fit-content;
}

#fssh{
      position: relative;
        top: 62vh;
        left: 30vw;
        width: fit-content;

}

#spam{
    position: relative;
}

#cat{
    position: relative;
    left: 0vw;
}

#unplea{
    position: relative;
    left: 0vw;
}